* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body styles */
body {
    background-color: #d1e8e2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* header styles */
header {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-image: url("../images/hero-pic.JPG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    z-index: 9999;
}

header h1 {
    color: #116466;
    font-weight: bolder;
    font-size: 35px; 
    margin: 0%;
    letter-spacing: 2px;   
}

header a {
    color: #116466;
    text-decoration: none;
}

header nav ul {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 30px;
    font-size: 1.55vw;
    font-weight: bold;
}

header nav ul li a:hover {
    background-color: #d9b08c;
    color: #116466;
    border-radius: 15px;
}
/* footer styles */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 30px;
    letter-spacing: 2px;
    background-color: #d9b08c;
}

footer h3 {
    margin: 0;
    font-size: 20px;
    color: #116466;
}
/* applies to all sections */
section {
    padding: 60px;
}
/* hero styles */
.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 600px;
    width: 100%;
    background-image: url("../images/hero-pic.JPG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero h1 {
    font-size: 70px;
    color: #116466;
    letter-spacing: 4px;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    margin-top: 150px;
    height: 100px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero div {
    color: #d1e8e2;
    width: 80%;
    padding: 0 10%;
    text-align: center;
    height: 310px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}    
/* applies to all divs with flex-row class */
.flex-row {
    display: flex;
}
/* intro styles */
.intro {
    margin: 20px auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.intro img {
    border-radius: 15px;
    border: 3px solid #d9b08c;
}

.about p {
    line-height: 1.7;
    color: #116466;
    font-size: 20px;
    width: 70%;
    margin: auto;
    text-align: center;
}
/* applies to all section title classes */
.section-title {
    font-size: 40px;
    color: #116466;
    border-bottom: 3px solid #d9b08c;
    text-align: center;
    margin: 0 auto 20px auto;
    width: 50%;
    padding-bottom: 15px;
}
/* portfolio section styles */
.port-container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.port-item {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
}

.port-item h3 {
    color: #116466;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}
    
.port-item img {
    object-fit: cover;
    border: 3px solid #d9b08c;
    border-radius: 15px;
    opacity: 0.75;
    background-color: gray;
}

.port-item img:hover {
    opacity: 1;
}
/* contact section styles */
.contact-info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact-info div {
    padding: 25px;
}

.contact-info h3 {
    font-size: 30px;
    color: #116466;
}

.contact-info ul {
    margin: 20px auto;
    font-size: 20px;
    list-style: none;
    text-align: center;
}

.contact-info li  {
    margin: 25px auto;
    letter-spacing: 0em;
    color: #d9b08c;
}

.contact-info a {
    color: #116466;
}

.contact-info a:hover {
    color: #d9b08c;
}

.reach-out input, .reach-out textarea {
    display: flex;
    border: 1px solid #116466;
    padding: 10px 20px;
    font-size: 16px;
    color: #116466;
    width: 100%;
    margin: 15px auto;
    border-radius: 15px;
    background-color: rgba(17, 100, 102, .75);
}

.reach-out input, .reach-out textarea:focus {
    background-color: #faf9f6;
    outline: none;
}

.reach-out button {
    width: 100%;
    border: none;
    background-color: #d9b08c;
    color: #116466;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    border-radius: 15px;
}

.reach-out button:hover {
    color: #d9b08c;
    background-color: #116466;
}
/* media query for smaller desktop screens and smaller */
@media  screen and (max-width: 980px) {
    .intro p {
        width: 70%;
    }

    .section-title {
        width: 70%;
    }

    .port-item {
       margin: auto;
    }
} 
/* media query for tablet screens and smaller */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .section-title {
        width: 70%;
    }

    .port-item {
        margin: 15px auto;
    }

    header a {
        font-size: 50px;
    }
}
/* media query for mobile phone screens and smaller */
@media screen and (max-width: 425px) {
    .header h1  {
       margin-left: auto;
       margin-right: auto;
    }
    
    .header nav {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .header a {
        font-size: large;
        padding: 10px;
    }

    .section-title {
        width: 80%;
    }

    .intro img {
        margin: 20px auto;
    }
    
    .port-container {
        flex: 0 100%;
    }
    .port-container img {
        width: 100%;
        align-content: center;
    }
}


